@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Light theme */
:root {
  --background: hsl(214, 32%, 91%);
  --foreground: hsl(0, 0%, 0%);

  --primary: hsl(220, 14.29%, 95.88%);
  --primary-foreground: hsl(0, 0%, 0%);

  --secondary: hsl(220, 13.04%, 90.98%);
  --secondary-foreground: hsl(0, 0%, 0%);

  --background-header: oklch(86.9% 0.022 252.894);
  --background-footer: oklch(86.9% 0.022 252.894);
}

/* Dark theme */
[data-theme="dark"] {
  --background: hsl(0, 0%, 25%);
  --foreground: hsl(0, 0%, 93%);

  --primary: hsl(215.56, 31.03%, 17.06%);
  --primary-foreground: hsl(0, 0%, 93%);

  --secondary: hsl(217.24, 21.17%, 26.86%);
  --secondary-foreground: hsl(0, 0%, 93%);

  --background-header: oklch(26.9% 0 0);
  --background-footer: oklch(26.9% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-background: var(--primary);
  --color-secondary-foreground: var(--primary-foreground);

  --color-secondary-background: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .prose {
    max-width: 100%;
    color: var(--foreground);
  }
}
